/* Animación scroll */
html
{
    scroll-behavior: smooth;
}




/* Selector universal */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 400ms ease;
}




/* Variables */
:root
{
    --color__texto-primaria: #fff;
    --color__texto-secundario: #3b046f;
    --color__texto-terciario: #0f0f0f;
    --color__texto-hover1: rgba(255, 255, 255, 0.7);
    --border-radius: 5px;
}




/* Cabecera y barra de navegación */
header
{
    background: var(--color__texto-secundario);
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.header__container
{
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__container-logo h2
{
    color: var(--color__texto-primaria);
    font-size: 27px;
    line-height: 1;
}
.header__container-nav ul li a
{
    text-decoration: none;
    color: var(--color__texto-primaria);
    font-size: 13px;
    padding: 7px 10px;
    margin: 4px;
}
.header__container-nav ul li a:hover
{
    color: var(--color__texto-secundario);
    background: var(--color__texto-hover1);
    border-radius: var(--border-radius);
}
.header__container-nav ul li
{
    list-style: none;
    display: inline-block;
}




/* Home */
.home
{
    /* background: #1b003a; */
    width: 100%;
    height: 100vh;
    background-image: url(game-programming-03.jpg);
    position: relative;

}
.home__background
{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}
.home__container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color__texto-primaria);
    gap: 10px;
}
.home__container h2
{
    line-height: 1;
    font-size: 22px;
    font-weight: 400;
}
.home__container h1
{
    line-height: 1;
    font-size: 94px;
    font-weight: 700;
}
.home__container-skills
{
    width: 180px;
    display: flex;
    justify-content: space-evenly;
}
.home__container-skills h3
{
    font-size: 14px;
    font-weight: 400;
}
.home__container-buttons
{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.home__container-buttons a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background: var(--color__texto-secundario);
    text-decoration: none;
    color: var(--color__texto-primaria);
    font-size: 14px;
    font-weight: 400;
}
.home__container-buttons a:hover
{
    color: var(--color__texto-secundario);
    background: var(--color__texto-hover1);
    border-radius: var(--border-radius);
}
.home__container-buttons span a
{
    background: var(--color__texto-secundario);
    color: var(--color__texto-secundario);
    background: var(--color__texto-hover1);
}
.home__container-buttons span a:hover
{
    color: var(--color__texto-primaria);
    background: var(--color__texto-secundario);
}
.home__container-section
{
    position: absolute;
    right: 20px;
}
.home__container-section h2
{
    font-size: 18px;
    font-weight: 400;
}




/* About */
.about
{
    background: #DED8E0;
    width: 100%;
    height: 100vh;
    position: relative;
}
.about__container
{
    background: aquamarine;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color__texto-primaria);
    gap: 10px;
    flex-wrap: wrap;
}
.about__container-photo
{   
    width: 360px;
    height: 480px;
    background-color: var(--color__texto-secundario);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__container-photo img
{
    width: 80%;
}
.about__container-section
{
    position: absolute;
    right: 20px;
}
.about__container-section h2
{
    font-size: 18px;
    font-weight: 400;
    color: var(--color__texto-secundario);
}