/* Animación scroll */
html
{
    scroll-behavior: smooth;
}




/* Selector universal */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 400ms ease;
}




/* Variables */
:root
{
    --color__texto-primaria: #fff;
    --color__texto-secundario: #230443;
    --color__texto-terciario: #0f0f0f;
    --color__texto-hover1: #fafafa30;
    --border-radius: 5px;
    --effect-glass: blur(0.4rem);
}




/* Cabecera y barra de navegación */
header
{
    box-shadow: 1px 1px 10px #0f0f0f;
    background: #0f0f0f;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.header__container
{
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__container-logo h2
{
    color: var(--color__texto-primaria);
    font-size: 27px;
    line-height: 1;
}
.header__container-nav ul li a
{   
    text-decoration: none;
    color: var(--color__texto-primaria);
    font-size: 13px;
    padding: 7px 12px;
    margin: 4px;
}
.header__container-nav ul li a:hover
{
    color: var(--color__texto-primaria);
    /* background: var(--color__texto-hover1); */
    backdrop-filter: var(--effect-glass);
    border-radius: var(--border-radius);
    background: var(--color__texto-hover1);
    box-shadow: 0px 0px 10px var(--color__texto-hover1);
}
.header__container-nav ul li
{
    list-style: none;
    display: inline-block;
}




/* Home */
.home
{
    /* background: #1b003a; */
    width: 100%;
    height: 100vh;
    background-image: url(game-programming-03.jpg);
    position: relative;

}
.home__background
{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}
.home__container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color__texto-primaria);
    gap: 10px;
}
.home__container h2
{
    line-height: 1;
    font-size: 22px;
    font-weight: 400;
}
.home__container h1
{
    line-height: 1;
    font-size: 94px;
    font-weight: 700;
}
.home__container-skills
{
    width: 140px;
    display: flex;
    justify-content: space-evenly;
}
.home__container-skills h3
{
    font-size: 14px;
    font-weight: 400;
}
.home__container-buttons
{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.home__container-buttons a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background: var(--color__texto-secundario);
    text-decoration: none;
    color: var(--color__texto-primaria);
    font-size: 14px;
    font-weight: 400;
}
.home__container-buttons a:hover
{
    color: var(--color__texto-primaria);
    /* background: var(--color__texto-hover1); */
    backdrop-filter: var(--effect-glass);
    border-radius: var(--border-radius);
    background: var(--color__texto-hover1);
    box-shadow: 0px 0px 10px var(--color__texto-hover1);
}
.home__container-buttons span a
{
    color: var(--color__texto-primaria);
    /* background: var(--color__texto-hover1); */
    backdrop-filter: var(--effect-glass);
    background: var(--color__texto-hover1);
    box-shadow: 0px 0px 10px var(--color__texto-hover1);
}
.home__container-buttons span a:hover
{
    color: var(--color__texto-primaria);
    background: var(--color__texto-secundario);
    box-shadow: 1px 1px 10px var(--color__texto-secundario);
    border-radius: var(--border-radius);
}
.home__container-section
{
    position: absolute;
    right: 20px;
}
.home__container-section h2
{
    font-size: 18px;
    font-weight: 400;
}




/* About */
.about
{
    background: #f6f6f6;
    width: 100%;
    height: 100vh;
    position: relative;
}
.about__container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: var(--color__texto-primaria);
    gap: 40px;
    flex-wrap: wrap;
}
.about__container-photo
{   
    width: 320px;
    height: 440px;
    background-color: var(--color__texto-secundario);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px var(--color__texto-secundario);
}
.about__container-photo-photo
{
    cursor: pointer;
    height: 80%;
    width: 80%;
    background: var(--color__texto-hover1);
    backdrop-filter: var(--effect-glass);
    box-shadow: 0px 0px 10px var(--color__texto-hover1);
}
.about__container-about_me
{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--color__texto-terciario);
}
.about__container-about_me-me
{
    background: var(--color__texto-hover1);
    width: 560px;
    height: 190px;
    padding: 35px;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px #0f0f0f10;
}
.about__container-about_me-me p
{
    font-size: 14px;
}
.about__container-personal_info
{
    text-align: center;
}
.about__container-personal_info h3
{
    color: var(--color__texto-secundario);
    margin: 10px;
    font-size: 17px;
}
.about__container-personal_info p
{
    padding: 3px;
    font-size: 13px;
}
.about__container-personal_info span
{
    color: var(--color__texto-secundario);
    font-weight: 600;
}
.about__container-section
{
    position: absolute;
    right: 20px;
}
.about__container-section h2
{
    font-size: 18px;
    font-weight: 400;
    color: var(--color__texto-terciario);
}